.weather-container {
  min-height: 100vh;
  background: linear-gradient(to bottom, #74b9ff, #dfe6e9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-content {
  width: 650px;
  padding: 50px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(25px);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15);
  text-align: center;
}